<div class="p-5">
  <h1>Welcome to the restaurant page</h1>

  <% @restaurants.each do |restaurant| %>
    <div>
      <p><%= link_to "#{restaurant.name}", restaurant_path(restaurant), class: "btn btn-primary" %></p>
    </div>
  <% end %>
</div>
